@import '@/assets/styles/vars.scss';

.feed {
  &-item {
    box-shadow: $shadow-light;
    display: flex;
    flex-basis: 18%; 
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgb(0 0 0 / 18%);
    margin: 12px;
    transition: border ease 0.5s;
    width: 255px;
    min-height: 380px;
    position: relative;
    &:hover {
      border: 1px solid #000000;
    }
  }  
  &-content {
    img {
      width: 100%;
    }
  }
  &-description {
    padding: 6px;
  }
  &-buy {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}