@import '@/assets/styles/vars.scss';

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15% auto;
  width: 500px;
  height: 300px;
  background-color: #288cdd;
  color: #ffffff;
  border: 1px solid #4894d3;
  border-radius: 12px;
  &_header {
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
  }
  &_header-text {
    text-align: center;
    font-size: 18px;
  }
  &_inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    input {
      outline: none;
      border: 2px solid #ffffff;
      margin-top: 12px;
      color: $input-color;
      padding: 8px 4px;
      border-radius: 4px;
    }
  }
<<<<<<< Updated upstream
}

.btn {
  transform: translate3d(50px,0,0);
    &:hover {
	    color: white;
    }
=======
  &-btn {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #e3e3e3;
    width: 70px;
    padding: 6px 10px;
  }
>>>>>>> Stashed changes
}