$sidebar-bg: #ffffff;
$main-bg: #f1f1f1;
$primary-color: rgb(0, 170, 255);
$input-color: #949494;
$primary-light: rgb(70, 193, 255);
$shadow: 1px 1px 4px rgba(0, 0, 0, 0.176);
$shadow-light: 0 2px 8px rgba(0, 0, 0, 0.176);
$sidebar-transition: 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
